<button class="btn btn-primary" (click)="agregarModal()" >Agregar</button>

<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Marca</th>
      <th scope="col">Submarca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Fecha de registro</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let auto of automoviles | slice: (page-1) * pageSize : page * pageSize; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ auto.marca }}</td>
      <td>{{ auto.submarca  }}</td>
      <td>{{ auto.modelo  }}</td>
      <td>{{ auto.descripcion  }}</td>
      <td>{{ auto.fecha_registro  }}</td>
      <td><fa-icon [icon]="faTrash" ></fa-icon></td>
      <td><fa-icon [icon]="faEdit" (click)="openModal(auto)" ></fa-icon></td>
    </tr>
    </tbody>
  </table>

  <ngb-pagination [collectionSize]="automoviles.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>